@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.eot");
    src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gilroy-Light.woff2") format("woff2"),
        url("../fonts/Gilroy-Light.woff") format("woff"),
        url("../fonts/Gilroy-Light.ttf") format("truetype"),
        url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-ExtraBold.eot");
    src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
        url("../fonts/Gilroy-ExtraBold.woff") format("woff"),
        url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"),
        url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.btn {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #000000;
    background-image: linear-gradient(transparent 42%, #f0c52e 42%, #f0c52e 58%, transparent 58%);
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: uppercase;

    text-align: center;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
}

.btn:hover,
.btn:focus {
    background: #f0c52e;
}

.btn:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-logo {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: #000000;
    text-transform: uppercase;
}

.header-logo {
    display: inline-block;
    margin-top: -15px;
    margin-left: 60px;
}

.main-navigation {
    margin-top: 40px;

    width: 1160px;
    min-height: 299px;

    background-color: #f7e296;
}

.main-logo:hover,
.main-navigation a:hover:not(.exit),
.main-logo:focus,
.main-navigation a:focus:not(.exit) {
    opacity: 0.6;
    cursor: pointer;
    outline: none;
}

.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-logo:active {
    color: rgba(255, 198, 0, 0.3);
}

.user-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 1040px;
    margin: 0 auto;

    margin-bottom: 20px;
}

.user-navigation {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;

    width: 505px;
}

.site-navigation-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 1040px;
    margin: 0 auto;
}

.site-navigation {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 505px;
}

.main-navigation-catalog {
    min-height: 186px;
}

.user-navigation,
.site-navigation {
    margin: 0;
    padding: 0;

    list-style: none;
}

.user-navigation a,
.sub-menu a {
    color: #000000;
    line-height: 36px;
}

.user-navigation a {
    padding-left: 30px;
}

.user-navigation-comparison {
    padding-right: 35px;
}

.user-navigation-entrance {
    margin-right: auto;
}

.user-navigation-entrance a {
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

.user-navigation-comparison a {
    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

.user-navigation-basket a {
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

.user-exit {
    opacity: 0.3;
    margin-right: auto;
}

.user-exit a {
    padding-left: 0;
    padding-right: 30px;
}

.navigation-catalog {
    position: relative;
    padding-right: 40px;
    padding-bottom: 45px;
    z-index: 3000;
}

.navigation-catalog::after {
    content: "";
    position: absolute;
    right: 0;
    top: 7px;
    width: 16px;
    height: 16px;

    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
}

/*Выпадающее меню*/
.site-navigation-catalog > li {
    position: relative;
    z-index: 4000;
}

.sub-menu-wrapper {
    position: absolute;
    top: 45px;
    left: -60px;
    width: 1040px;
    min-height: 144px;

    padding-right: 60px;
    padding-left: 60px;

    display: none;

    background-color: #f7e296;
}

.site-navigation-catalog .sub-menu {
    margin: 0;
    padding: 0;

    list-style: none;
}

.navigation-catalog:hover .sub-menu-wrapper,
.navigation-catalog:focus .sub-menu-wrapper  {
    display: block;
}

.sub-menu-wrapper .sub-menu {
    margin-bottom: 30px;
    margin-right: 60px;
}

.sub-menu-wrapper .sub-menu-1 {
    display: inline-block;
    vertical-align: top;
}

.sub-menu-wrapper .sub-menu-2 {
    display: inline-block;
    vertical-align: top;
    margin-right: 75px;
}

.sub-menu-wrapper .sub-menu-3 {
    display: inline-block;
    vertical-align: top;
}

.site-navigation-list {
    margin-left: auto;
    width: 505px;
    justify-content: flex-end;
}

.navigation-delivery {
    margin-right: auto;
    padding-left: 10px;
}

.navigation-contact {
    margin-left: 111px;
}

.user-navigation-item {
    margin-left: 25px;
}

.navigation-item > a {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.user-search {
    margin-right: auto;
}

.user-search form {
    position: relative;
}

.user-search input {
    line-height: 36px;
    background-color: #f7e296;
    color: rgba(0, 0, 0, 0.3);
    border-color: transparent;
    outline: none;

    width: 355px;
    padding: 10px 40px;
    margin-right: 90px;
    box-sizing: border-box;

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.user-search .user-btn {
    position: absolute;
    bottom: 0;
    right: 3px;
    line-height: 36px;
    padding: 5px 20px;
    color: #000000;
    z-index: 1000;
    outline: none;
    border: 2px solid #000000;
    background-color: transparent;
    cursor: pointer;

    opacity: 0;
    pointer-events: none;
}

.user-form:focus-within .user-btn,
.user-form .user-btn:focus {
    opacity: 1;
    pointer-events: all;
}

.user-btn:hover,
.user-btn:focus {
    color: #ffffff;
    background-color: #000000;
}

.user-btn:active {
    opacity: 1;
    pointer-events: all;
    color: rgba(255, 255, 255, 0.3);
}

.user-form input[type="search"]:focus {
    color: #000000;
    border-bottom: 2px solid #000000;
}

.user-form input[type="search"]:focus + .user-btn {
    opacity: 1;
    pointer-events: all;
}

.user-form input[type="search"]::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.user-form input[type="search"]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.user-form input[type="search"]:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.user-form input[type="search"]::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.user-form input[type="search"]::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.user-form input[type="search"]:hover::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.user-form input[type="search"]:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.user-form input[type="search"]:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.user-form input[type="search"]:hover::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.user-form input[type="search"]:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

/*slide*/
.slider {
    position: relative;
    min-height: 500px;
    margin: -111px auto 90px;
}

.slides-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 1160px;
}

.slides {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slide-img {
    padding-left: 90px;
    padding-right: 125px;
}

.slide-wrapper {
    width: 511px;
    padding-top: 80px;
}

.slide:nth-child(1) .slide-img {
    height: 486px;
}

.slide:nth-child(2) .slide-img {
    height: 485px;
}

.slide:nth-child(3) .slide-img {
    margin-top: 70px;
    margin-left: -60px;
    padding-right: 40px;
    height: 334px;
}

.slide-title {
    max-width: 511px;
    margin: 0;
    margin-bottom: 20px;

    font-family: "Gilroy", "Verdana", sans-serif;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: 800;
    color: black;
}

.slides .us-btn {
    width: 220px;
    margin-bottom: 45px;
}

.slides .us-btn:nth-child(3) {
    margin-bottom: 55px;
}

.slide-text {
    max-width: 480px;
    margin: 0;
    margin-bottom: 45px;
}

.description-slide {
    border-collapse: collapse;
}

.description-slide th {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    padding-right: 80px;
}

.slide-text-3 th {
    padding-right: 55px;
}

.description-slide td {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-size: 36px;
    font-weight: 300;

    padding-bottom: 15px;
}

.description-slide td:last-child {
    padding-right: 0;
}

.slider-controls {
    position: absolute;
    bottom: 160px;
    right: 200px;
    z-index: 1000;

    width: 200px;
    height: 12px;

    text-align: center;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 20px;

    cursor: pointer;

    background-image: url("../img/slider-button-empty.svg");
    background-repeat: no-repeat;
    background-size: 12px 12px;
}

.slider-controls label:last-child {
    margin-right: 0;
}

.slides .slide {
    display: none;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-image: url("../img/slider-button1.svg");
    background-repeat: no-repeat;
    background-size: 12px 12px;
}

#btn-1:checked ~ .slides .slide:nth-child(1),
#btn-2:checked ~ .slides .slide:nth-child(2),
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

/*product*/
.product-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    margin-bottom: 53px;
    list-style: none;
}

.product-item {
    margin-right: 40px;
    margin-bottom: 20px;
}

.product-list .product-item:nth-child(6n) {
    margin-right: 0;
}

.product-img {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;

    width: 160px;
}

.product-box-img {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;

    width: 160px;
    height: 160px;
    margin-bottom: 30px;
    background-color: #f7e296;
}

.product-img-align {
    align-items: flex-end;
}

.product-box-text span {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-style: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #000000;
}

.product-img:hover .product-box-img,
.product-img:focus .product-box-img {
    outline: none;
    background-color: #f0c52e;
}

.product-img:active .product-box-img img,
.product-img:active .product-box-text span {
    opacity: 0.3;
}

/*tabs*/

.service {
    background-image: linear-gradient(to bottom, #ffffff 26%, #e5e5e5 26%, #e5e5e5 74%);
    height: 388px;
    margin-bottom: 95px;
}

.tab {
    position: relative;
    min-height: 320px;
}

.tab-controls::after {
    content: "";
    position: absolute;
    top: -79px;
    right: 0;
    border: 4px solid #000000;
    height: 307px;
}

.tab input[type=radio] {
    opacity: 0;
}

.tab-controls {
    position: absolute;
    top: 79px;
    left: 0;
}

.tab-controls label {
    z-index: 1000;
    cursor: pointer;
    display: block;
    margin-bottom: 25px;
    letter-spacing: 3px;
    width: 160px;
    text-align: center;
}

.tabs {
    position: absolute;
    top: 40px;
    right: 0;
    width: 877px;
}

.tab-text {
    padding-left: 118px;
    min-height: 200px;
    width: 440px;
}

.tab-text h3 {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 24px;
    color: #000000;
    letter-spacing: 1px;
}

.tab-slide:nth-child(1) {
    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    background-position: 91% 10%;
}

.tab-slide:nth-child(2){
    background-image: url("../img/warranty.svg");
    background-repeat: no-repeat;
    background-position: 90%;
}

.tab-slide:nth-child(3){
    background-image: url("../img/credit.svg");
    background-repeat: no-repeat;
    background-position: 90%;
}

#tab-1:checked ~ .tab-controls label[for="tab-1"],
#tab-2:checked ~ .tab-controls label[for="tab-2"],
#tab-3:checked ~ .tab-controls label[for="tab-3"] {
    background: #000000;
    color: #f7e184;
    text-align: left;

    width: 265px;
    height: 40px;
    padding-left: 20px;
}

.tabs .tab-slide {
    display: none;
}

#tab-1:checked ~ .tabs .tab-slide:nth-child(1),
#tab-2:checked ~ .tabs .tab-slide:nth-child(2),
#tab-3:checked ~ .tabs .tab-slide:nth-child(3) {
    display: block;
}

/*partners*/
.partners {
    margin-bottom: 95px;
}

.partners-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 1160px;
}

.partners-item {
    margin-right: 40px;
    margin-bottom: 20px;
}

.partners-item:nth-child(4n) {
    margin-right: 0;
}

.partners-item img {
    opacity: 0.2;
    height: 100px;
    vertical-align: middle;
}

.partners-item a {
    display: inline-block;
}

.partners-list .dgl:hover,
.partners-list .dgl:focus {
    background-image: url("../img/logo-1hover.jpg");
}

.partners-list .gadgets:hover,
.partners-list .gadgets:focus {
    background-image: url("../img/logo-2hover.jpg");
}

.partners-list .gopro:hover,
.partners-list .gopro:focus {
    background-image: url("../img/logo-3hover.jpg");
}

.partners-list .vive:hover,
.partners-list .vive:focus {
    background-image: url("../img/logo-4hover.jpg");
}

/*description*/

.description {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 1160px;
    margin-bottom: 32px;
}

.us {
    position: relative;
    width: 460px;
    margin-right: 140px;
}

.contacts {
    position: relative;
    width: 560px;
    min-height: 600px;
}

.us::after,
.contacts::after {
    content: "";
    position: absolute;
    top: -24px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000000;
}

.us p {
    padding-bottom: 19px;
}

.description .transport {
    margin: 0;
    padding: 0;

    list-style: none;
    padding-bottom: 58px;
}

.transport-list {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #000000;
    line-height: 40px;
    text-transform: capitalize;

    display: block;
    padding-left: 34px;
    background-image: url("../img/us-button.svg");
    background-repeat: no-repeat;
    background-position: -8px 50%;
}

.contacts p {
    padding-bottom: 25px;
}

.contacts img {
    display: block;
    padding-bottom: 72px;
}

.description-caption {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-weight: 800;
    font-size: 47px;
    letter-spacing: 1px;

    display: block;
    padding-bottom: 13px;
}

.description-btn {
    width: 260px;
    text-transform: uppercase;
}

/*footer*/
.main-footer {
    background-color: #464646;
    color: #ffffff;
}

.footer-top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;

    width: 1160px;
    padding-top: 65px;
    margin-bottom: 20px;
}

.footer-logo {
    margin-right: auto;
}

.footer-navigation {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-end;

    width: 600px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-title {
    position: relative;
    padding-left: 65px;
}

.navigation-entrance::after,
.navigation-compare::after,
.navigation-basket::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 40px;
    width: 13px;
    height: 12px;
}

.navigation-entrance::after {
    background-image: url("../img/user-footer.svg");
    background-repeat: no-repeat;
}

.navigation-compare::after {
    background-image: url("../img/compare-footer.svg");
    background-repeat: no-repeat;
}

.navigation-basket::after {
    background-image: url("../img/cart-footer.svg");
    background-repeat: no-repeat;
}

.footer-navigation li:hover,
.footer-navigation li:focus,
.main-footer a:hover,
.main-footer a:focus,
.footer-logo a:hover,
.footer-logo a:focus {
    opacity: 0.6;
    outline: none;
}

.footer-navigation li:active,
.main-footer a:active {
    opacity: 0.3;
}

.footer-middle {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 50px;
}

.footer-service {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    align-items: center;
    width: 460px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.service-title {
    padding-right: 50px;
}

.footer-service .service-title:nth-child(3n) {
    padding-right: 0;
}

.footer-bottom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-bottom: 65px;
    max-height: 35px;
}

.footer-icon {
    -ms-align-self: center;
    align-self: center;
}

.footer-icon::before {
    content: "";
    display: block;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
}

.social-icon {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 142px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icon .social-item {
    margin-right: 23px;
}

.social-icon .social-item:nth-child(3n) {
    margin-right: 0;
}

.social-item img {
    opacity: 0.3;
}

.social-item img:hover,
.social-item img:focus {
    opacity: 0.6;
    outline: none;
}

.social-item img:active {
    opacity: 0.1;
}

.htmlacademy {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 80px;
}

.footer-navigation a,
.footer-service a,
.social-icon a,
.user-phone {
    color: #ffffff;
}

.footer-logo {
    color: #ffc600;
}

.service-title {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/*breadcrumbs*/
.page-title {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-weight: 800;
    font-size: 47px;
    letter-spacing: 1px;

    margin: 0;
    margin-bottom: 25px;
    margin-top: 50px;
    padding: 0 60px;
}

.breadcrumbs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1120px;

    list-style: none;

    padding: 0 60px;
    margin: 0;
    margin-bottom: 45px;
}

.breadcrumbs li {
    position: relative;
    padding-right: 35px;
}

.breadcrumbs li:not(.breadcrumbs-current)::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 20px;
    width: 5px;
    height: 9px;
    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
}

.breadcrumbs a,
.breadcrumbs-current {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
    outline: none;
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

/*filters*/
.filter-wrapper {
    background-image: linear-gradient(90deg, #bebebe 80%, #cccccc 80%, #cccccc 80%);
    background-color: #bebebe;
}

.filter .caption,
.sorting-box .caption {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.sorting-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.filter-caption {
    width: 328px;
    min-height: 70px;
    -ms-align-items: center;
    align-items: center;
}

.filter-caption .caption {
    padding-left: 60px;
    padding-top: 7px;
}

.sorting-caption {
    background-color: #cccccc;
    width: 832px;
    min-height: 70px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sorting-caption .caption {
    padding-left: 70px;
    padding-top: 7px;
}

.sorting-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    padding-left: 50px;
    margin-top: 20px;

    font-size: 14px;
    line-height: 18px;
    list-style: none;
}

.sorting-item {
    position: relative;
    padding-top: 5px;
    padding-right: 30px;
}

.sorting-item a {
    color: rgba(0, 0, 0, 0.3);
}

.sorting-item a:hover,
.sorting-item a:focus {
    color: rgba(0, 0, 0, 0.6);
    outline: none;
}

.sorting-item a:active {
    color: #000000;
}

.sorting-arrow {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-self: center;
    align-self: center;

    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;
}

.sorting-arrow .arrow {
    padding-left: 19px;
    opacity: 0.2;
}

.sorting-arrow .arrow:hover,
.sorting-arrow .arrow:focus {
    opacity: 0.4;
}

.sorting-arrow .arrow:active {
    opacity: 1;
}

.sorting-arrow .arrow-current {
    opacity: 1;
}

/*--------------------------------------------*/

.filter-column-wrapper {
    background-image: linear-gradient(90deg, #efefef 80%, #ffffff 80%, #ffffff 80%);
}

.filter-catalog-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    width: 1160px;
}

.filter {
    width: 328px;
    padding-top: 78px;
    position: relative;
}

.filter::after {
    content: "";
    position: absolute;
    width: 202px;
    height: 2px;
    top: 67px;
    left: 58px;
    border-bottom: 2px solid black;
}

.filter legend {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.range-filter {
    margin-left: -5px;
}

.filter ul {
    list-style: none;
    line-height: 14px;
    line-height: 40px;

    margin: 0;
    padding: 0;
}

.range-controls {
    position: relative;
    height: 23px;
    width: 185px;
    padding-top: 27px;
    padding-left: 20px;
}

.range-controls .scale {
    height: 2px;
    background: #e1e1e1;
}

.range-controls .bar {
    height: 2px;
    background-color: #b0d56f;
}

.range-controls .toggle {
    position: absolute;
    top: 18px;
    right: 0;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 0;
}

.range-controls .toggle-max {
    left: 112px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 14px;
    line-height: 22px;
    width: 25%;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
}

.price-controls input {
    font-size: 14px;
    width: 75px;
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border: none;
}

.filter fieldset {
    padding-left: 56px;
    border: none;
}

.filter-color {
    position: relative;
}

.filter-color::after {
    content: "";
    position: absolute;
    width: 202px;
    height: 2px;
    top: 5px;
    left: 58px;
    border-bottom: 2px solid black;
}

.filter-color legend {
    padding-top: 15px;
    padding-bottom: 10px;
}

.filter-option input {
    box-sizing: border-box;
}

.filter-color:disabled + label {
    color: #000000;
    opacity: 0.5;
}

.filter-option label,
.filter-radio label {
    position: relative;
    margin-left: 42px;
    cursor: pointer;
}

.filter-option input[type="checkbox"] + label::before,
.filter-radio input[type="radio"] + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -42px;
    width: 25px;
    height: 25px;
}

.filter-option input[type="checkbox"] + label::before {
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter-radio input[type="radio"] + label::before {
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:checked ~ label::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background: url("../img/checkbox-off.svg") 0 0 no-repeat,
                url("../img/checkbox-on.svg") 0 0 no-repeat;
}

.filter-option input[type="checkbox"]:checked ~ label::before {
    background: url("../img/checkbox-off.svg") 0 0 no-repeat,
                url("../img/checkbox-on.svg") 0 0 no-repeat;
}

.filter-radio input[type="radio"]:checked ~ label::before {
    background: url("../img/radio-off.svg") 0 0 no-repeat,
                url("../img/radio-on.svg") 0 0 no-repeat;
}

.filter-option input[type="checkbox"] + label:hover::before,
.filter-option input[type="checkbox"]:focus + label::before,
.filter-radio input[type="radio"] + label:hover::before,
.filter-radio input[type="radio"]:focus + label {
    opacity: 0.6;
}

.filter-bluetooth legend {
    padding-top: 32px;
    padding-bottom: 5px;
}

.filter-bluetooth .buetooth-item {
    padding-bottom: 35px;
}

.filter-button {
    background-image: linear-gradient(#eeeeee 42%, #f0c52e 42%, #f0c52e 58%, #eeeeee 58%);
    cursor: pointer;
    border: none;
    width: 202px;
}

/*--------------------------------------------------------*/

.catalog {
    width: 832px;
    background-color: #ffffff;
}

.catalog-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    padding-top: 44px;
    list-style: none;

    width: 832px;
}

.catalog-item {
    position: relative;
    margin-left: 72px;
    padding-top: 25px;
}

.catalog-item:nth-child(2n) {
    margin-left: 40px;
    margin-right: 0;
}

.catalog-item .catalog-btn {
    position: absolute;
    top: 180px;
    left: 80px;
    width: 200px;
    background-image: linear-gradient(transparent 42%, #f0c52e 42%, #f0c52e 58%, transparent 58%);
    display: none;
}

.catalog-item .catalog-link {
    position: absolute;
    top: 230px;
    left: 100px;
    color: rgba(0, 0, 0, 0.5);
    display: none;
}

.catalog-item:hover img {
    filter: opacity(70%);
    cursor: pointer;
}

.catalog-item:hover .catalog-btn,
.catalog-item:hover .catalog-link {
    display: block;
    cursor: pointer;
}

.catalog-item .catalog-link:hover,
.catalog-item .catalog-link:focus {
    color: #000000;
}

.catalog-item .catalog-link:active {
    color: rgba(0, 0, 0, 0.2);
}

.catalog-text {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 360px;
}

.catalog-item h3 {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #000000;

    width: 260px;
}

.catalog-item span {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;

    padding-top: 19px;
    margin-left: auto;
}

.pagination-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 700px;
    outline: 1px solid black;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 70px;
    padding: 20px 30px;
    list-style: none;

    background-color: #ebebeb;
}

.pagination-item a {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item .current,
.pagination-item .backward,
.pagination-item .forward {
    color: #000000;
}

/* Всплывающая форма */
.modal {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    color: #000000;

    position: fixed;
    z-index: 4000;

    color: #000000;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login {
    top: 120px;
    left: 50%;
    width: 760px;
    min-height: 380px;
    padding: 80px 100px;
    margin-left: -430px;

    background-color: #ffffff;

    display: none;
}

.modal-login input[type="text"],
.modal-login input[type="email"],
.modal-login textarea {
    font-size: 14px;
    line-height: 18px;
    color: #464646;
    background-color: #f2f2f2;
    border: none;

    box-sizing: border-box;
    width: 360px;
    padding: 15px 15px;
    padding-right: 40px;

    margin-top: 15px;
}

.modal-login input[type="text"]:hover,
.modal-login input[type="email"]:hover,
.modal-login textarea:hover {
    background-color: #eaeaea;
}

.modal-login input[type="text"]:focus,
.modal-login input[type="email"]:focus,
.modal-login textarea:focus {
    outline: 3px solid #f7e296;
    background-color: #ffffff;
    color: #000000;
}

.login-form p,
.login-form p {
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 30px;
}

.modal-login .modal-comment {
    margin-bottom: 45px;
}

.login-form p:nth-child(2n) {
    margin-right: 0;
}

.modal input[type="email"]:invalid {
    background-color: #f6dada;
}

.modal .modal-btn {
    background-image: linear-gradient(#ffffff 42%, #f0c52e 42%, #f0c52e 58%, #ffffff 58%);
    width: 199px;
    border: none;
}

.modal .modal-btn:hover,
.modal .modal-btn:focus {
    background: #f0c52e;
    cursor: pointer;
    outline: none;
}

.modal .modal-btn:active {
    color: rgba(0, 0, 0, 0.3);
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 55px;
    height: 55px;

    font-size: 0;

    background-color: #f7e296;
    border-radius: 50%;
    border: 0;

    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 25px;
    right: 15px;

    width: 25px;
    height: 2px;

    background-color: #ffffff;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.login-form label {
    font-family: "Gilroy", "Verdana", sans-serif;
    font-weight: 800;
    font-style: 18px;

    padding-bottom: 10px;
}

.login-form textarea {
    width: 100%;
}

/* карта   */

.modal-map {
    top: 50%;
    left: 50%;

    width: 960px;
    height: 560px;
    margin-top: -280px;
    margin-left: -430px;

    display: none;
}

.modal-map p {
    margin: 0;
}
