@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype'),
        url('../fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'),
        url('../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

a {
    text-decoration: none;
}

.main-logo {
    font-family: "Gilroy", sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: #000000;
    text-transform: uppercase;
}

.main-logo:hover,
.main-navigation a:hover {
    opacity: 0.6;
    cursor: pointer;
}

.main-logo:active,
.main-navigation a:active {
    opacity: 0.3;
}

.user-navigation,
.site-navigation,
.sub-menu {
    list-style: none;
}

.user-navigation a,
.sub-menu a {
    color: #000000;
    line-height: 36px;
}

.navigation-item > a {
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #000000;
}

.main-navigation {
    background-color: #f7e296;
}

.user-navigation form {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.user-navigation input {
    line-height: 36px;
    background-color: #f7e296;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;

    height: 30px;
    width: 440px;
    box-sizing: border-box;

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;

    padding: 25px 36px;
}

.user-navigation .user-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    color: #000000;
    z-index: 2;
    outline: none;
    border: 2px solid #000000;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
}

.user-navigation .user-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.user-navigation .user-btn:active {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.3);
}

input[type="search"]:focus {
    color: #000000;
    border-bottom: 2px solid #000000;
}

input[type="search"]::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

input[type="search"]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

input[type="search"]:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

input[type="search"]::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

input[type="search"]::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

input[type="search"]:hover::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

input[type="search"]:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

input[type="search"]:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

input[type="search"]:hover::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

input[type="search"]:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

/*slide*/

.slider {
    position: relative;
    width: 1160px;
    height: 500px;
    margin: 0 auto;
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 180px;
    right: 40px;
    width: 200px;
    height: 12px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    vertical-align: top;
    cursor: pointer;

    background-image: url("../img/slider-button-empty.svg");
    background-repeat: no-repeat;
    background-size: 12px 12px
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-image: url("../img/slider-button.svg");
    background-repeat: no-repeat;
    background-size: 12px 12px;
}

.slide {
    width: 1160px;
    height: 500px;
    overflow: hidden;
}

..slide-img img {
    display: inline-block;
}

.slide-img {
    width: 580px;
    text-align: center;
    vertical-align: middle;
}

.quadrupter-img {
    padding-top: 60px;
}

.slide-text {
    position: absolute;
    right: 0;
    top: 0;
    width: 580px;
    padding: 70px 0;
    color: #464646;
}

.slide-text p {
    width: 479px;
}

.slide-title {
    font-family: "Gilroy", sans-serif;
    font-size: 47px;
    line-height: 1;
    font-weight: 800;
    color: black;
}

.slide .btn {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 2px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f0c52e;

    display: inline-block;
    padding: 0 44px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.description-slide {
    border-collapse: collapse;
}

.description-slide th {
    font-family: "Gilroy", sans-serif;
    font-size: 36px;
    font-weight: 300;
    text-align: left;

    padding-right: 82px;
    padding-bottom: 15px;
}

.description-slide th:last-child {
    padding-right: 0;
}

.slide{
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

/*product*/
.product-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-item span {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    color: #000000;
}

.product-item a:active {
    opacity: 0.3;
}

/*tabs*/
.tab {
    position: relative;
    width: 1160px;
    min-height: 388px;
    margin: 0 auto;
}

.tab input[type=radio] {
    position:absolute;
    opacity:0;
}

.tab-controls {
    position: absolute;
    top: 90px;
    left: 0;
    width: 284px;
}

.tab-controls label {
    z-index: 1000;
    cursor: pointer;
    display: block;
    margin-bottom: 30px;
}

.tabs {
    position: absolute;
    top: 40px;
    right: 0;
    width: 877px;
}

.tab-text {
    padding-left: 116px;
    min-height: 200px;
    width: 433px;
    border-left: 7px solid #000000;
}

.tab-text h3 {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-size: 47px;
    color: #000000;
    letter-spacing: 1px;
}

.tab-slide:nth-child(1){
    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    background-position: 90%;
}
.tab-slide:nth-child(2){
    background-image: url("../img/warranty.svg");
    background-repeat: no-repeat;
    background-position: 90%;
}
.tab-slide:nth-child(3){
    background-image: url("../img/credit.svg");
    background-repeat: no-repeat;
    background-position: 90%;
}

#tab-1:checked ~ .tab-controls label[for="tab-1"],
#tab-2:checked ~ .tab-controls label[for="tab-2"],
#tab-3:checked ~ .tab-controls label[for="tab-3"] {
    background-color: #c1c1c1;
}

.tabs .tab-slide {
    display: none;
}

#tab-1:checked ~ .tabs .tab-slide:nth-child(1) {
    display: block;
}
#tab-2:checked ~ .tabs .tab-slide:nth-child(2) {
    display: block;
}
#tab-3:checked ~ .tabs .tab-slide:nth-child(3) {
    display: block;
}

/*partners*/

.partners-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.partners-item img {
    opacity: 0.2;
}

.partners-item .dgl {
    display: inline-block;
    width: 127px;
    height: 75px;
}

.partners-item .dgl:hover {
    background-image: url("../img/logo-1hover.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 127px 75px;
}

.partners-item .gadgets {
    display: inline-block;
    width: 250px;
    height: 75px;
}

.partners-item .gadgets:hover {
    background-image: url("../img/logo-2hover.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 250px 75px;
}

.partners-item .gopro {
    display: inline-block;
    width: 175px;
    height: 75px;
}

.partners-item .gopro:hover {
    background-image: url("../img/logo-3hover.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 175px 75px;
}

.partners-item .vive {
    display: inline-block;
    width: 189px;
    height: 75px;
}

.partners-item .vive:hover {
    background-image: url("../img/logo-4hover.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 189px 75px;
}

/*description*/
.description-caption {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-size: 47px;
    letter-spacing: 1px;
}

.us-big {
    text-transform: uppercase;
}

.transport {
    margin: 0;
    padding: 0;
}

.transport-list {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #000000;
    line-height: 40px;

    list-style: none;
    background-image: url("../img/us-button.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.btn {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #000000;
    letter-spacing: 2px;
    text-transform: uppercase;

    text-align: center;
    width: 260px;
    display: inline-block;
    background-image: linear-gradient(#ffffff 38%, #f0c52e 38%, #f0c52e 60%, #ffffff 60%);
}

.us-btn span:hover {
    width: 260px;
    padding: 11px 0;
    display: inline-block;
    background-color: #f0c52e;
}

.us-btn span:active {
    color: rgba(0, 0, 0, 0.3);
}

/*footer*/
.main-footer {
    background-color: #464646;
    color: #ffffff;
}

.footer-navigation,
.footer-service,
.social-icon {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-navigation a,
.footer-service a,
.social-icon a,
.user-list__phone {
    color: #ffffff;
}

.footer-logo {
    color: #ffc600;
}

.main-footer a:hover {
    opacity: 0.6;
}

.main-footer a:active {
    opacity: 0.3;
}

.navigation-title a {
    line-height: 36px;
    letter-spacing: 1px;
}

.service-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/*modal-login*/
.modal {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.modal input[type="text"],
textarea {
    font-size: 14px;
    line-height: 18px;
    color: #464646;
    background-color: #f2f2f2;
    border: none;
}

.modal input[type="text"]:hover,
textarea:hover {
    background-color: #eaeaea;
}

.modal input[type="text"]:focus,
textarea:focus {
    outline: 3px solid #f7e296;
    background-color: #ffffff;
    color: #000000;
}

.modal input[type="text"]:invalid {
    background-color: #f6dada;
}

.modal-btn {
    border: none;
    cursor: pointer;
    width: 200px;
}
